@model Perfil

@{
    ViewData["Title"] = "Perfil";
}

<h1>Detalhes Perfil</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="NomeUsuario" class="control-label"></label>
            <input asp-for="NomeUsuario" class="form-control" readonly />
            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Login" class="control-label"></label>
            <input asp-for="Login" class="form-control" readonly />
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" readonly />
        </div>

        <div class="form-control">
            @{
                try
                {
                    var base64 = Convert.ToBase64String(Model.Foto);
                    if (!string.IsNullOrEmpty(base64))
                    {
                        var imgSrc = String.Format("data:image/png;base64, {0}", base64);
                        <img class="img-fluid" src="@imgSrc" width="300" />
                    }
                }
                catch
                {
                    <img width="150"/>
                }            
            }
        </div>
        <div class="form-group" style="margin-top:15px">
            <a class="btn btn-outline-primary btn-sm"
                asp-action="Edit"
                asp-route-id="@Model.Id">Editar</a>

            <a class="btn btn-secondary text-white btn-sm"
                asp-action="Index">Voltar</a>
        </div>
    </div>
</div>
